<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .text-color-blue {
            color: blue;
        }
    </style>
</head>
<body>
    <h1 style="color: red">List Students</h1>
    <h4 class="text-color-blue" style="text-decoration: underline;">Ini adalah list student</h4>
    <ul>
        <% for(var i=0; i<students.length; i++) {%>
        <li> <%= students[i].nama %> ini pake for loop <br> <a href="/delete/<%= students[i].id %>">delete</a></li>
        <% } %>
    </ul>
    <ul>
        <% students.forEach(student => { %>
            <li> <%=student.nama %> ini pake for each</li>
        <% }) %>
    </ul>

    <form action="/add" method="POST">
        <label for="nama">Email</label>
        <br>
        <input type="nama" name="nama" placeholder="Nama Student">
        <button type="submit"> add student</button>
    </form>
</body>
</html>