<h1>Register</h1>
<!-- akan otomatis ngehit api post register -->
<form action="/register" method="POST">
    <label for="email">Email</label>
    <br>
    <input type="email" name="email" placeholder="Email">

    <button type="submit">register</button>
</form>